.main{
  .contant{
       text-align: center;
       max-width: 475px;
       margin-top: 3rem;

      @media (max-width:950px) {
         margin-top: 20px;     
      }  
  }
  .Box-Moudle{
       margin-top: 4rem;
       gap: 2.5rem;

      @media (max-width:950px) {
          flex-direction: column;
          
      }
      &__first_box{
          border-top:4px solid hsl(180, 62%, 55%);    
      }
      &__cart_2{
          gap: 1rem;
          &__second_box{
              border-top:4px solid hsl(0, 78%, 62%) ;
          }
          &__third_box{
              border-top:4px solid  hsl(44, 97%, 64%) ;
              margin-top: 20px;

          }
      }
      &__four_box{
          border-top:4px solid   hsl(212, 86%, 64%);
      }
  }
}